<section class="max-w-screen-lg mx-auto text-center py-4 lg:py-24">

  <h3 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-800 pb-4">{{ .intro }}</h3>
  
  {{ with .subintro }}
    <p class="leading-tight dark:text-gray-600 text-gray-600 py-4">{{ . }}</p>
  {{ end }}


<div class="relative w-full">
    <div class="flex flex-wrap justify-center gap-4">
      {{ range .youtube }}
        <div class="max-w-sm md:w-1/2">
            <h2 class="text-2xl font-semibold text-center mb-2 dark:text-gray-800 text-gray-8d00">{{ .title }}</h2>
            <iframe frameborder="0" allowfullscreen="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                width="100%" height="100%"
                src="https://www.youtube.com/embed/{{ .url }}?autoplay=0&amp;mute=0&amp;controls=0">
            </iframe>
        </div>
      {{ end }}
    </div>
</div>

</section>

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/r0Tkma5fkrg?si=V0PKBRMFHW6Mk49M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
